- form! [@form, @submission], :as => :submission, :url => @submission.admin_path

- tab :submission do
  - @form.fields.each do |field|
    = render_field(field)
  
- sidebar do
  .buttons
    = button "Back to list", :url => @form
    
    = button "Mark submission as spam", :class => "secondary dark mark-spam", :icon => "wheelhouse-forms/spam-small.png", :style => @submission.spam? ? "display: none" : ""
    = button "Submission is not spam", :class => "secondary not-spam", :icon => "wheelhouse-forms/not-spam-small.png", :style => !@submission.spam? ? "display: none" : ""
  
  %hr
  
  %p.owner Submitted: #{timestamp(@submission.created_at)}
  - if @submission.ip_address?
    %p.owner IP Address: #{@submission.ip_address}
  
  %hr

- content_for(:head) do
  = stylesheet_link_tag "wheelhouse-forms/admin"

- content_for(:javascript) do
  = javascript_include_tag "wheelhouse-forms/submissions"
