= form_field(checkboxes, :index => index, :prefix => prefix, :class => "checkboxes") do |f|
  = f.text_field :label, :title => "Checkboxes Label", :placeholder => "Checkboxes Label", :id => nil
  = f.required_field_checkbox
  
  %ul.options
    %li
      %label Options:
    
    - checkboxes.options(true).each do |option|
      %li= text_field_tag "#{prefix}[options][]", option, :id => nil
