= form_field(radio_buttons, :index => index, :prefix => prefix, :class => "radio-buttons") do |f|
  = f.text_field :label, :title => "Radio Buttons Label", :placeholder => "Radio Buttons Label", :id => nil
  = f.required_field_checkbox

  %ul.options
    %li
      %label Options:

    - radio_buttons.options(true).each do |option|
      %li= text_field_tag "#{prefix}[options][]", option, :id => nil
