= form_field(select_field, :index => index, :prefix => prefix, :class => "select-field", :icon => "select") do |f|
  = f.text_field :label, :title => "Select Field Label", :placeholder => "Select Field Label", :id => nil
  = f.required_field_checkbox

  %ul.options
    %li
      %label Options:

    - select_field.options(true).each do |option|
      %li= text_field_tag "#{prefix}[options][]", option, :id => nil
