- tab :submissions do
  %h2 #{listing_spam? ? "Spam" : "Latest"} Submissions
  = render "submissions"

- sidebar do
  .buttons
    = button "Form Designer", :icon => :publish, :url => edit_form_path(@form)

  %hr

  %ul
    - if listing_spam?
      %li= link_to "View Latest Submissions", form_path(@form), :class => "latest-submissions"
    - else
      %li= link_to "View Spam Submissions", spam_form_path(@form), :class => "spam-submissions"
      
    %li= link_to "Export Results as CSV", form_submissions_path(@form, :format => :csv), :class => "export-csv"
  
  %hr

  - if last_submission = @form.submissions.first
    %p.owner Last submission: #{timestamp(last_submission.created_at)}
  
  = owner
  
  %hr

- content_for(:head) do
  = stylesheet_link_tag "wheelhouse-forms/admin"

- content_for(:javascript) do
  = javascript_include_tag "wheelhouse-forms/submissions"
  