- tab :submissions => "submissions"

- sidebar do
  .buttons
    = button "Form Designer", :icon => :publish, :url => edit_form_path(@form)

  %hr

  %ul
    %li= link_to "Export results as CSV", form_submissions_path(@form, :format => :csv), :class => "export-csv"
  
  %hr

  - if last_submission = @form.submissions.first
    %p.owner Last submission: #{timestamp(last_submission.created_at)}
  
  = owner
  
  %hr

- content_for(:head) do
  = stylesheet_link_tag "wheelhouse-forms/admin"
